<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ajouter un nouveaux employé</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom en français</label>
                                        <input type="text" class="form-control" placeholder="Nom en français">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Prénom en français</label>
                                        <input type="email" class="form-control" placeholder="Prénom en français">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom en Arabe</label>
                                        <input type="text" class="form-control" placeholder="Nom en Arabe" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prénom en Arabe</label>
                                        <input type="text" class="form-control" placeholder="Prénom en Arabe" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address mail</label>
                                        <input type="text" class="form-control" placeholder="Address mail" value="@gmail.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>code CNRPS</label>
                                        <input type="text" class="form-control" placeholder="code CNRPS" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>code CIN</label>
                                        <input type="text" class="form-control" placeholder="code CIN" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Numéro de téléphone</label>
                                        <input type="text" class="form-control" placeholder="Numéro de téléphone" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>code CNRPS</label>
                                        <input type="text" class="form-control" placeholder="code CNRPS" >
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Effectuer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
